<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/axe-core html/Interview">
        <classes>
            <class name="Test">
                <methods>
                    <include name="testCaseOne"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>